// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass";
@import "compass/reset";
@import "mixin";
#login {
	position: fixed;
	top: 0;
	left: 0;
	background: url(asset-path("Login_Thema.png", image)) 50% 50%;
	background-size: cover;
	width: 100%;
	height: 100%;
	.wrapper {
		position: fixed;
		top: 60%;
		left: 50%;
		width: 300px;
		height: 500px;
		margin-top: -250px;
		margin-left: -150px;
		text-align: center;
	}
	h1{
		color:#fff;
	}
}