// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass";
@import "compass/reset";
@import "mixin";

.logo {
	position: absolute;
	width: 490px;
	height: 215px;
	top: 445px;
	left: 50%;
	margin-left: -490px;
	z-index: 10;
}

#create_user {
	position: fixed;
	background-color:#000;
	width: 100%;
	height: 100%;
	.error {
		position: fixed;
		top: 45%;
		left: 20%;
		color: #fff;
	}
	.wrapper {
		background:url(asset-path("Join.png", image)) no-repeat bottom center;
		position: absolute;
		top: 115px;
		left: 50%;
		width: 432px;
		height: 595px;
		margin-left: 80px;
		text-align: center;
		.join {
			background-color:#E6DF96;
			position: absolute;
			top:    5%;
			left:   5%;
			width:  90%;
			height: 90%;
			margin: 0 auto;
			text-align:left;
			input[type="text"],
			input[type="password"],
			input[type="email"],
			select {
				width: 93%;
			}
			div.boolean {
				float: left;
				label {
					padding: 0 10px 0 5px;
					
				}
			}
			.btn {
				margin-top: 20px;
				width: 93%;
				height: 100px;
			}
		}
		.simple_form {
			margin-left:20px;
		}
	}
	
	h1 {
		color:#fff;
	}
}

#user_profile {
	width:90%;
	height:90%;
	margin:0px auto;
	.user_team{
		width:43%;
		height:200px;
		img{
			margin-right:5px;
		}
	}
	.user_champions{
		overflow:auto;
		width:43%;
		height:300px;
		img{
			margin:2px;
		}
	}
	.league_schedule{
		position:absolute;
		left:45%;
		top:13%;
		width:50%;
		height:74%;
		float:right;
		
	}
}

#comments{
	padding-top:30px
}
